@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap');
:root {
    --primary-color: #b1551d;
    --secondary-color: hsl(262, 15%, 26%);
    --accent1-color: hsl(227, 37%, 14%);
    --accent2-color: hsl(24, 53%, 35%);
    
    --heading-font: 'Josefin Sans', serif;
    --paragraph-font: 'Josefin Sans', serif;

    --nav-background-color: hsl(227, 37%, 14%);
    --nav-link-color: hsl(23, 72%, 40%);
    --nav-hover-link-color: hsl(24, 53%, 35%);
    --nav-hover-background-color: hsl(262, 15%, 26%);
}

.info {
    margin: 1rem auto;
    color:#b1551d;
    border: solid #b1551d;
    display: grid;
    justify-content: space-evenly;
    
}

.employees {
    margin: 1rem auto;
    display: flex;
    justify-content: space-evenly;
    border: solid #b1551d;

}

figure {
    border: thin #b1551d solid;
    display: flex;
    flex-flow: column;
    padding: 5px;
    max-width: 300px;
    margin: auto;
  }

  figure img {
    max-width: 300px;
    max-height: 350px;
  }

  figcaption {
    background-color: hsl(265, 15%, 16%);
    color:#b1551d;
    font-size: large;
    padding: .5rem;
    
  }

  form {
    width: 700px;
    margin: 5px auto;
    padding: 1rem;
    border: .5rem solid #b1551d;
    border-radius: 1rem;
    color:#b1551d;
    background-color: hsl(265, 15%, 16%);
    display: grid;
}
fieldset {
    display: grid;
    text-align: center;
    grid-gap: .5rem;
    margin: 1rem;
    border: 1px solid hsl(265, 15%, 16%);
    padding: 1rem;
}

input {
    display: flex;
    margin: 0.5rem auto;
    
}

textarea {
    display: flex;
    margin: 0.5rem auto;
    
}

select {
    display: flex;
    margin: 0.5rem auto;
    
}

button {
    margin: 0.5rem auto;
    border: solid #b1551d;;
    border-radius: 1rem;
    padding: 1.2rem;
    font-size: 1.2rem;
    background-color: hsl(265, 15%, 16%);
    color: #b1551d;
}

button:hover {
    background-color: #b1551d;
}
header {
    display: grid;
    align-items: center;
    justify-items: center;
}
header nav {
    grid-column: 2/3;
}
header nav a  {
    padding: 20px;
    font: var(--heading-font);
    color: var(--primary-color);
    text-decoration-line: none;
    background-color: var(--secondary-color);
    border-style: solid;
    
    
}
 html {
    background-color:hsl(240, 21%, 11%);
 }
header img {
    width: 200px;
    height: auto;
    padding: 2px;
    grid-column: 1/2;
    grid-row: 1/2;   
     
}
.hero {
    display: block;
    width: 100%;
    height: auto;
    position: relative;
}
 article {
    position: absolute;
    top: 200px; right: 150px;
    background:#31036e9a;
    
    padding: 40px;
    
}
h1 {
    font: var(--paragraph-font);
    color:#d145ca;
    background:#31036e9a;
    font-size:xx-large;
    position: absolute;
    top:65px; right:350px;
    padding-left: 60px;
    padding-right: 60px;
}
article img {
    width: 275px;
    height: auto; 
    padding: 2px;
    float: right;
    
}
article p {
    color:hsl(305, 64%, 58%);
    padding: 40px;
    position: relative;
    top: 70px;
    
}




h2 {
    font: var(--heading-font);
    font-size: xx-large;
    color: #d850cd;
}

.history p {
    font: var(--paragraph-font);
    color: var(--primary-color);
}
.fig {
    display: flex;
    justify-items: center;

}
.fig figure {
    border: thin #c0c0c0 solid;
    display: flex;
    flex-flow: column;
    padding: 5px;
    max-width: 125px;
    margin: auto;
  }

  .fig figure img {
    max-width: 125px;
    max-height: 125px;
  }
  
  .fig figcaption {
    background-color: var(--secondary-color);
    color:#b1551d;
    font: var(--paragraph-font);
    padding: 3px;
    text-align: center;
  }

footer {
    color:#b1551d;
    border-top: solid;
}

footer p {
    text-align: center;
}
 
footer nav {
    text-align: center;
}

.wireframe {
    text-align: center;
    color:#b1551d;
}
.sociallinks {
    padding: 1rem;
    float: right;
  }

 footer img {
    width: 50px;
 }