@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap');
:root {
    --primary-color: #b1551d;
    --secondary-color: hsl(262, 15%, 26%);
    --accent1-color: hsl(227, 37%, 14%);
    --accent2-color: hsl(24, 53%, 35%);
    
    --heading-font: 'Josefin Sans', serif;
    --paragraph-font: 'Josefin Sans', serif;

    --nav-background-color: hsl(227, 37%, 14%);
    --nav-link-color: hsl(23, 72%, 40%);
    --nav-hover-link-color: hsl(24, 53%, 35%);
    --nav-hover-background-color: hsl(262, 15%, 26%);
}




header {
    display: grid;
    align-items: center;
    justify-items: center;
}
header nav {
    grid-column: 2/3;
}
header nav a  {
    padding: 20px;
    font: var(--heading-font);
    color: var(--primary-color);
    text-decoration-line: none;
    background-color: var(--secondary-color);
    border-style: solid;
    
    
}
 html {
    background-color:hsla(227, 55%, 38%, 0.842);
 }
header img {
    width: 200px;
    height: auto;
    padding: 2px;
    grid-column: 1/2;
    grid-row: 1/2;   
     
}
.hero {
    display: block;
    width: 100%;
    height: auto;
    position: relative;
}
 article {
    position: absolute;
    top: 200px; right: 150px;
    background:#31036e9a;
    
    padding: 40px;
    
}
h1 {
    font: var(--paragraph-font);
    font-style: bold;
    color:#d145ca;
    background:#31036e9a;
    font-size:xx-large;
    position: absolute;
    top:65px; right:350px;
    padding-left: 60px;
    padding-right: 60px;
}
article img {
    width: 275px;
    height: auto; 
    padding: 2px;
    float: right;
    
}
article p {
    color:hsl(305, 64%, 58%);
    font-style: bold;
    padding: 40px;
    position: relative;
    top: 70px;
    
}




h2 {
    font: var(--heading-font);
    font-size: xx-large;
    color: #d850cd;
}

.history p {
    font: var(--paragraph-font);
    color: var(--primary-color);
}
.fig {
    display: flex;
    justify-items: center;

}
.fig figure {
    border: thin #c0c0c0 solid;
    display: flex;
    flex-flow: column;
    padding: 5px;
    max-width: 125px;
    margin: auto;
  }

  .fig figure img {
    max-width: 125px;
    max-height: 125px;
  }
  
  .fig figcaption {
    background-color: var(--secondary-color);
    color:#b1551d;
    font: var(--paragraph-font);
    padding: 3px;
    text-align: center;
  }

footer {
    font: var(--paragraph-font);
    color:#b1551d;
    border-top: solid;
    padding-left:375px;
    padding-bottom:40px;
}
  